@media (max-width: 1260px)
  .header
    &-container
      max-width: 1000px
  .hero
    &-image
      width: 578px
      height: 512.56px
      right: 15px
    &-text
      width: 470px
      &__title
        font-size: 59px
        line-height: 69px
        width: 470px
  .service
    &-wrapper
      margin: 120px 0
@media (max-width: 1230px)
  .hero
    &-image
      width: 528px
      height: 462.56px
      right: 15px
      top: 10px
    &-info
      margin-left: 150px
@media (max-width: 1200px)
  .header
    &-container
      max-width: 940px
  .hero
    &-container
      height: 558px
    &-image
      width: 508px
      height: 422.56px
      right: 25px
    &-text
      &__title
        font-size: 54px
        line-height: 64px
  .service
    &-wrapper
      margin: 80px 0
      grid-column-gap: 71px
      grid-row-gap: 71px
      grid-template-rows: 208px 259px 196px 259px
    &__title
      margin-left: 20px
  .client-wrapper
    padding-bottom: 100px
    .container
      width: 900px
  .logo
    margin-top: 100px
    width: 100%
    &-item
      width: 25%
@media (max-width: 1100px)
  .hero
    &-container
      height: 558px
    &-image
      width: 408px
      height: 342.56px
      right: 25px
      //top: 35px
    &-info
      padding-top: 66px
  .service
    &-card
      &--2
        //margin-left: 0
  .footer
    &-talk
      &__container
        width: 810px
        margin-left: 150px
    &-menu
      margin-left: 150px
      width: 800px
  .footer
    &-talk
      &__container
        width: 735px
      &__text
        width: 400px
  .feedback
    &-wrapper
      width: 800px
      margin: 50px auto
  .modal
    width: 445px
    height: 745px
    &-form
      width: 330px
    &__input
      width: 333px
      &-group
        width: 333px
    &__message
      width: 333px
    &__button
      width: 333px
      margin-bottom: 0
      margin-top: 33px
    &-title
      margin-top: 0
  .input
    &-group
      width: 333px
  .location
    .container
      width: 800px
      margin: auto
      .map
        width: 800px
        height: 430px
        &-iframe
          width: 800px
          height: 430px
  @media (max-width: 1130px)
    .hero
      &-info
        margin-left: 100px
      &-image
        top: 80px
    .footer
      &-menu
        //max-width: 70%
    .service
      &-wrapper
        //grid-template-columns: 400px 320px
      &__container
        font-size: 30px
        line-height: 40px
    .client
      &-wrapper
        height: 650px
        .container
          width: 800px
      &__right-block
        display: none
        width: 0
    .footer
      &-wrapper
        height: 1136px
      &-menu
        flex-wrap: wrap
      &-contacts
        width: 50%
      &-about-us
        width: 50%
      &-follow-us
        margin-top: 30px
      &__left-block
        width: 0
  @media(max-width: 992px)
    .container
      width: 720px
    .header
      &-container
        width: 820px
    .hero
      &-container
        height: 550px
      &-text
        width: 400px
        &__title
          font-size: 48px
          line-height: 50px
        &__description
          line-height: 24px
          width: 375px
          height: 96px
      &-image
        width: 358px
        height: 310px
        top: 70px
      &__button
        width: 200px
        font-style: 14px
        height-line: 20px
        width: 190px
        height: 48px
        padding: 12px 24px
        &-link
          font-size: 16px
    .service
      .container
        width: 770px
      &-wrapper
        grid-template-columns: 350px 350px
        grid-column-gap: 68px
        grid-row-gap: 68px
      &__title
        margin-left: 0
      &-card
        width: 343px
        height: 516px
        &--2
          margin-left: 0
      &-info
        &__button
          margin-top: 24px
          margin-bottom: 0
        //width: 302px
    .footer
      &-talk
        height: 401px
        padding-bottom: 59px
        &__container
          width: 696px
          height: 245px
          display: flex
          flex-direction: column
          //justify-content: center
          align-items: center
          margin-left: 16%
        &__info
          width: 670px
        &__title
          width: 100%
          height: 45px
        &__text
          width: 100%
        &__button-link
          margin-top: 30px
          margin-bottom: 0
      &-wrapper
        height: 1130px
      &-menu
        margin: 70px auto 64px auto
        width: 580px
        &__items
          width: 100%
        &__item
          width: 100%
        //max-width: 90%
      &__line
        margin-top: 400px
      &__left-block
        //margin-top: 242px
      &-contacts
        width: 70%
      &-about-us
        width: 30%
    .client
      &-wrapper
        .container
          width: 700px
      &-info
        &__title
          width: 355px
    .feedback
      .container
        width: 800px
  @media(max-width: 870px)
    .header
      &-container
        max-width: 680px
    .hero
      &-text
        &__description
          width: 300px
          margin-top: 15px
      &-image
        width: 300px
        height: 280px
        top: 90px
    .service
      &-wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
      .container
        width: 580px
      &-card
        width: 380px
        &__wrapper
          &--1
            width: 100%
            display: flex
            justify-content: flex-end
          &--2
            width: 100%
            display: flex
            justify-content: flex-start
          &--3
            width: 100%
            display: flex
            justify-content: flex-end
    .client
      &-info
        display: flex
        flex-direction: column
        align-items: center
        justify-content: flex-start
    .logo
      margin-top: 50px
      &-item
        width: 33%
        &--3
          display: none
        &--7
          display: none
    .footer
      &-talk
        &__container
          margin-left: 9%
        &__text
          width: 650px
    .feedback
      .container
        width: 720px
      &-wrapper
        width: 720px
      &__title
        margin-bottom: 15px
      &-contacts
        &__image
          margin-bottom: 34px
          margin-left: 0
      &-info
        height: 395px
    .message
      &-card
        padding: 36px
    .modal
      width: 322px
      height: 618px
      &-title
        width: 250px
      &__input
        padding: 11px 22px
        height: 52px
        width: 250px
      &__message
        padding-top: 11px
        padding-left: 22px
        width: 250px
      &__button
        width: 250px
        height: 52px
      &__form
        width: 250px
        .input
          &-group
            width: 250px
            height: 315px
      &__input
        &-group
          width: 250px
    .location
      .container
        width: 720px
        .map
          &-iframe
            width: 720px
            height: 390px
  @media(max-width: 768px)
    .header
      &-container
        max-width: 570px
        //max-width: 670px
    .hero
      &-image
        position: relative
        margin: 20px 0 20px 0
        top: 0
        left: 10px
        right: 0
        width: 408px
        height: 342.56px
      &-info
        padding-top: 0
        margin-left: 0
        display: flex
        flex-wrap: wrap
        justify-content: center
      &-container
        height: 790px
        display: flex
        flex-direction: column
        align-items: center
      &-text
        &__title
          width: 382px
          text-align: center
        &__description
          margin-top: 0px
          width: 335px
          text-align: justify
          &-wrapper
            display: flex
            justify-content: center
      &__button
        margin-top: 45px
    .logo
      &-item
        width: 33%
    .footer
      &-talk
        &__container
          margin-left: 12%
        &__text
          width: 550px
    .feedback
      .container
        width: 100%
      &-wrapper
        flex-direction: column
        align-items: center
        width: 100%
    .modal
      margin-top: 40px
    .location
      .container
        width: 521px
        .map
          width: 100%
          height: 332px
          margin-bottom: 50px
          &-iframe
            width: 520px
            height: 330px
  @media(max-width: 756px)
    .header
      &-container
        width: 670px
    .hero
      &-container
        height: 800px
      &-image
        margin: 20px 0 20px 0
        left: 10px
        right: 0
      &-text
        //display: flex
        flex-direction: column
        justify-content: center
        &__description
          width: 335px
          text-align: justify
    .client
      &-wrapper
        height: 590px
        padding: 60px 0
        .container
          width: 600px
    .footer
      &-talk
        padding-top: 60px
        &__container
          margin-left: 10%
          width: 520px
        &__text
          width: 550px
        &__title
          width: 476px
          height: 85px
        &__info
          width: 521px
      &__line
        width: 545px
  @media(max-width: 656px)
    .header
      &-container
        width: 500px
    .service
      .container
        width: 480px
    .hero
      &-info
        width: 380px
      .image
        &-block
          width: 416px
    .client
      &-wrapper
        height: 640px
        padding: 60px 0
        .container
          width: 400px
      &-info
        justify-content: space-between
        height: 215px
        &__text
          width: 100%
          height: 100px
        &__title
          width: 224px
          text-align: center
    .logo
      &-item
        width: 50%
        &--2
          display: none
        &--6
          display: none
    .footer
      &-talk
        border-bottom-color: transparent
        margin: 0
        height: 432px
        &__container
          width: 400px
          margin: auto
          height: 312px
        &__text
          width: 400px
          height: 100px
          margin-top: 32px
        &__title
          width: 308px
          text-align: center
          margin: auto
        &__info
          width: 400px
      &-wrapper
        height: 1380px
      &__line
        margin-top: 432px
      &__left-block
        width: 0
      &-contacts
        width: 100%
      &-about-us
        width: 100%
        margin-top: 40px
        margin-bottom: 0
      &-follow-us
        margin-top: 40px
      &-menu
        width: 300px
        //height: 1380px
  @media(max-width: 576px)
    .hero
      &-wrapper
        height: 735px
      &-image
        display: flex
        justify-content: center
        //position: relative
        //right: 0
        //left: 28px
        //margin: 0
        //width: 75%
        //height: auto
        //height: 302.56px
      &-container
        width: 80%
        height: 650px
      &-text
        &__title
          //font-size: 38px
          line-height: 41px
          height: 120px
          //width: 300px
      &-info
        margin-left: 4%
        //display: flex
        //justify-content: space-between
        //flex-direction: column
      &__button
        margin-top: 45px
        margin-bottom: 0
    .header
      &-container
        width: 87%
      &-wrapper
        width: 100%
    .service
      .container
        width: 430px
    .footer
      &__line
        width: 400px
    .contact
      &-us-info
        width: 500px
    .location
      .container
        width: 420px
        .map
          height: 282px
          &-iframe
            width: 420px
            height: 280px
  @media(max-width: 480px)
    .hero
      &-info
        width: 320px
        margin-left: 0
      &-text
        width: 100%
      .image
        &-block
          width: 266px
      &-text
        &__title
          font-size: 34px
          line-height: 33px
          width: 320px
          //height: 70px
          margin: auto
          //margin-bottom: 20px
        &__description
          height: 137px
          &-wrapper
            width: 270px
            margin: auto
          //font-style: 14px
          //height: 145px
      &-wrapper
        height: 650px
        width: 300px
        margin: auto
      &-image
        width: 268px
        height: 222.56px
        left: 0
      &__button
        margin-top: 0px
    .service
      .container
        width: 270px
        margin: auto
      &__title
        font-size: 25px
        line-height: 23px
        width: 255px
        margin: auto
      &-card
        width: 100%
        height: 483px
        &--1
          height: 467px
        &__wrapper
          &--1
            display: block
        &__image
          &--1
            width: 152px
            height: 130px
            margin-bottom: 30px
          &--2
            width: 142px
            height: 97px
            margin: 30px 0
          &--3
            width: 125px
            height: 97px
            margin: 30px 0
      &-info
        width: 80%
        &__title
          font-size: 19px
          line-height: 25px
      &-wrapper
        //height: 1700px
        grid-row-gap: 40px
        margin: 60px 0
    .image
      &-block
        width: 100px
    .client
      &-wrapper
        height: 710px
        .container
          width: 260px
      &-info
        height: 273px
        &__title
          width: 211px
          height: 135px
    .logo
      margin-top: 60px
      &-item
        font-size: 16px
    .footer
      &-talk
        height: 565px
        &__title
          width: 211px
          height: 135px
        &__text
          width: 100%
        &__info
          width: 211px
          margin: 0 auto
        &__container
          height: 445px
          width: 300px
      &__line
        margin-top: 565px
        width: 362px
      &-wrapper
        height: 1512px
      &-menu
        width: 250px
    .contact-us
      &__description
        font-size: 16px
      &-info
        width: 280px
    .feedback
      &-contacts
        width: 265px
        &__image
          width: 250px
          height: 160px
          margin: 0 auto
      &-wrapper
        width: 300px
      &-info
        width: 290px
      &__title
        width: 275px
      &__text
        width: 283px
      &-phome
        width: 283px
      &-online
        width: 283px

    .modal
      width: 278px
      padding: 10px
      height: 567px
    .location
      .container
        width: 280px
        .map
          height: 210px
          &-iframe
            width: 280px
            height: 210px
  @media(max-width: 400px)
    .footer
      &__line
        width: 300px
  @media(max-width: 350px)
    .hero
      width: 319px
    .footer
      &__line
        width: 270px
        //margin: 20px 0 20px 100px
        //
//@media (max-width: 992px)
  //.container
    //width: 840px
  //.hero
    //&-info
      //margin-left: 100px
  //.service
    //&-card
  //width: 302px
