.contact-us
  height: 250px
  padding: 51px 0 49px 0
  margin: 0
  background-image: url(../img/contact-us.jpg)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  display: flex
  justify-content: center
  align-items: center
  align-items: center
  &-info
    height: 150px
    width: 780px
    display: flex
    flex-direction: column
    justify-content: center
  &__title
    font-size: 44px
    line-height: 74px
    text-align: center
    letter-spacing: 0.04em
    color: #FFFFFF
    font-weight: bold
    margin: 0
  &__description
    font-size: 20px
    line-height: 30px
    text-align: center
    letter-spacing: 0.04em
    color: rgba(255, 255, 255, 0.6)
